# Working with Python Sequences

## 1. Sequence Operations - Part 1
Sequence Type:
- List: Mutable
- Tuple: Immutable
- Range: Immutable
- Str: Immutable

Sequence Operations:
1. Comparison
2. Containment Testing
3. Concatenation and Repetition
4. Element Extraction and Slicing
5. Element Index and Count

**1. Comparison**

In [1]:
name = 'prashant'
nameList = ['Abdul', 'John', 'Lisa']

In [2]:
print(name == 'Prashant')

False

In [3]:
print(name == 'prashant')

True

In [4]:
print(nameList == ['Abdul', 'John', 'Lisa'])

True

In [5]:
print(nameList == ['Abdulla', 'John', 'Lisa'])

False

In [6]:
print(nameList == ['John', 'Lisa', 'Abdul'])

False

**2. Containment Testing**

In [7]:
name = 'prashant'
nameList = ['Abdul', 'John', 'Lisa']

In [8]:
print('h' in name)

True

In [9]:
print("Abdul" in nameList)

True

In [10]:
print("Abdulla" not in nameList)

True

In [11]:
print("ash" in name) # sub-sequence search

True

In [12]:
print(['Abdul', 'John'] in nameList) # sub-sequence search only works with strings

False

**3. Concatenation and Repitition**

In [13]:
name = 'prashant'
nameList = ['Abdul', 'John', 'Lisa']

print(name + " pandey")

prashant pandey

In [14]:
print(nameList + name)

TypeError: can only concatenate list (not "str") to list

In [15]:
print(nameList + [name])

['Abdul', 'John', 'Lisa', 'prashant']

In [16]:
repeatedName = (name + " ") * 3

print("Old Name: " + name)
print("New Name: " + repeatedName)

Old Name: prashant
New Name: prashant prashant prashant

In [17]:
repeatedList = nameList * 2

print("Old List: ", str(nameList))
print("New List: " + str(repeatedList))

Old List:  ['Abdul', 'John', 'Lisa']
New List: ['Abdul', 'John', 'Lisa', 'Abdul', 'John', 'Lisa']

## 2. Sequence Operations - Part 2

**4. Element Extraction and Slicing**

In [18]:
name = 'prashant'
nameList = ['Abdul', 'John', 'Lisa']

In [19]:
print(name[2]) # 0 index counting

a

In [20]:
print(name[-2]) # last letter starts with -1

n

1. Python Sequences are zero-indexed
2. A negative index is subtracted from the sequence length
3. You cannot go beyond the index boundary

In [21]:
name = 'prashant'
nameList = ['Abdul', 'John', 'Lisa']

In [22]:
print(name[9])

IndexError: string index out of range

In [23]:
print(name[-9])

IndexError: string index out of range

In [24]:
print(nameList[2])

Lisa

In [25]:
print(nameList[-2])

John

Slicing: `s[start_index: stop_index: step_size]`

In [26]:
name = 'prashant kumar pandey'
nameList = ['Abdul', 'John', 'Lisa', 'prashant']

In [27]:
print(name[0])

p

In [28]:
print(name[0:7])

prashan

In [29]:
print(name[0:8])

prashant

In [30]:
print(nameList[1:3])

['John', 'Lisa']

In [31]:
print(name[:8])

prashant

In [32]:
print(name[9:])

kumar pandey

In [33]:
print(name[:])

prashant kumar pandey

In [34]:
print(name[-6:])

pandey

In [35]:
print(name[:-13])

prashant

In [36]:
print(name[9:-7])

kumar

`start_index` < `stop_index`

In [37]:
print(name[-1:-7]) # 21 - 1 !< 21 - 7

`start` <= `step` < `stop`

In [38]:
print(name[0:21:50])

p

In [39]:
print(name[0:21:21])

p

In [40]:
print(name[0:21:3])

psnkapd

In [41]:
print(name[20:14:-1])

yednap

In [42]:
print(name[-1:-7:-2])

yda

** 5. Element Index and Count**

`s.index(x[, start_index[, stop_index]])`

In [43]:
name = "prashant kumar pandey"

In [44]:
print(name.index("a", 3, 10))

5

## 3. Working with Python Strings
1. String Literals
2. String Functions
3. String Formatting

**1. String Literals**

In [45]:
quote1 = 'Limit your "Always" and your "Nevers."'
quote2 = "Time isn't the main thing. It's the only thing."

print(quote1)
print(quote2)

Limit your "Always" and your "Nevers."
Time isn't the main thing. It's the only thing.

In [46]:
msg = """Hi!
  How are you doing today?
When can we meet?"""

print(msg)

Hi!
  How are you doing today?
When can we meet?

In [48]:
'Don't run'

SyntaxError: unterminated string literal (detected at line 1) (3352473640.py, line 1)

In [47]:
'Don\'t run'

"Don't run"

In [49]:
msg = "Hi!\nHow are you doing>\nHoping to see you at:\t10:00 AM."

print(msg)

Hi!
How are you doing>
Hoping to see you at:	10:00 AM.

**2. String Functions**

In [50]:
name = "Learning Journal"

print(len(name))

16

In [51]:
name.split()

['Learning', 'Journal']

In [52]:
name = "Big Data, Machine Learning, Artificial Intelligence"

name.split(',')

['Big Data', ' Machine Learning', ' Artificial Intelligence']

In [53]:
nameList = ["Big Data, Machine Learning, Artificial Intelligence"]
nameString = ','.join(nameList)

print(nameString)

Big Data, Machine Learning, Artificial Intelligence

In [54]:
msg = 'Hey there! I am going to the park.'

print(msg.replace('park', 'zoo'))
print(msg)

Hey there! I am going to the zoo.
Hey there! I am going to the park.

In [55]:
name = "     Learning Journal     "

name.strip()

'Learning Journal'

In [56]:
name.rstrip()

'     Learning Journal'

In [57]:
name.lstrip()

'Learning Journal     '

Refer to documentation for more functions.

**3. String Formatting**

In [58]:
name = "John"
age = "25"

In [59]:
info = "Hey! It's " + name + ", and I am  " + age + " years old."
print(info)

Hey! It's John, and I am  25 years old.

In [60]:
info = "Hey! It's {}, and I am {} years old.".format(name, age)
print(info)

Hey! It's John, and I am 25 years old.

In [61]:
info = f"Hello! It's {name}, and I am {age} years old."
print(info)

Hello! It's John, and I am 25 years old.

## 4. Working with Python Lists and Tuples
- Tuple: (0, 1, 2, 3) - IMMUTABLE
- List: [0, 1, 2, 3] - MUTABLE

In [62]:
myTuple = ('Big Data', 'Machine Learning')
myList = ['Artificial Intelligence', 'Data Analtyics']

print(myTuple)
print(myList)

('Big Data', 'Machine Learning')
['Artificial Intelligence', 'Data Analtyics']

In [63]:
myList2 = ['Artificial Intelligence', 'Data Analytics', 2, 3.6]
print(myList2)

['Artificial Intelligence', 'Data Analytics', 2, 3.6]

In [64]:
myTuple2 = ('Big Data', 'Machine Learning', 2, 3.6)
print(myTuple2)

('Big Data', 'Machine Learning', 2, 3.6)

In [65]:
myList2.append('Data Science')
print(myList2)

['Artificial Intelligence', 'Data Analytics', 2, 3.6, 'Data Science']

In [66]:
myTuple2.append('Data Science')

AttributeError: 'tuple' object has no attribute 'append'

In [68]:
myTuple = ('Big Data', 'Machine Learning')
myList = ['Artificial Intelligence', 'Data Analtyics', 'Data Science']

print(len(myTuple))
print(len(myList))

2
3

In [69]:
list1 = [23, 48, 3, 17]
tuple1 = (25, 52, 7, 12)

print(max(list1))
print(min(list1))
print(max(tuple1))
print(min(tuple1))

48
3
52
7

In [70]:
list1.pop() # removes last element

17

In [71]:
list1

[23, 48, 3]

In [72]:
list1.append(0)
print(list1)

[23, 48, 3, 0]

In [73]:
list1.insert(0, 11) # index, element
list1

[11, 23, 48, 3, 0]

## 5. Python Loops and Range
1. While Loops
2. For Loops
3. List Comprehension

**1. While Loops**

In [74]:
a = 0

while a < 5:
    print(a)
    a += 1

0
1
2
3
4

In [75]:
name = "Learning Journal"
i = 0

while True:
    if name[i] == 'J':
        break
    print(name[i])
    i += 1
    
print("Outside while loop.")

L
e
a
r
n
i
n
g

Outside while loop.

In [76]:
num = 5

while num > 0:
    num -= 1
    if num == 2:
        continue # skip printing 2
    print(num)
    
print("Outside while loop.")

4
3
1
0
Outside while loop.

**2. For Loop**

In [77]:
grocery_list = ['eggs', 'milk', 'bread', 'veggies']

for food in grocery_list:
    print(food)

eggs
milk
bread
veggies

In [78]:
myRange = range(10)

print(myRange)

range(0, 10)

In [79]:
for i in myRange:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [80]:
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [81]:
for i in range(5, 15, 2):
    print(i)

5
7
9
11
13

In [84]:
for i in range(15, 5, -2):
    print(i)

15
13
11
9
7

**3. List Comprehension**

In [85]:
rectangles = [(15, 10), (3, 5), (5, 6)]

In [86]:
areas = []

for (x, y) in rectangles:
    areas.append(x * y)
    
print(areas)

[150, 15, 30]

In [87]:
areas = []
rectangle_areas = []

for (x, y) in rectangles:
    areas.append(x * y)
    rectangle_areas.append((x, y, x * y))
    
print(areas)
print(rectangle_areas)

[150, 15, 30]
[(15, 10, 150), (3, 5, 15), (5, 6, 30)]

In [88]:
rectangle_areas = [(x, y, x * y) for (x, y) in rectangles]
print(rectangle_areas)

[(15, 10, 150), (3, 5, 15), (5, 6, 30)]