# More Data Structures

## 1. Python Dictionaries
{Key: Value} - Mutable

In [1]:
info_1 = {'Ron': 101, 'Jack': 102, 'Rick': 103}
print(info_1)

{'Ron': 101, 'Jack': 102, 'Rick': 103}

In [2]:
info_2 = {'Ron': 101, 'Ron': 102, 'Rick': 103} # takes most updated key
print(info_2)

{'Ron': 102, 'Rick': 103}

In [3]:
info_2 = dict({'Ron': 101, 'Jack': 102, 'Rick': 103})
print(info_2)

{'Ron': 101, 'Jack': 102, 'Rick': 103}

In [4]:
info_3 = dict(Ron = 101, Jack = 102, Rick = 103)
print(info_3)

{'Ron': 101, 'Jack': 102, 'Rick': 103}

In [5]:
my_list = [('Tom', 104), ('John', 105)]

info_4 = dict(my_list)
print(info_4)

{'Tom': 104, 'John': 105}

In [6]:
my_tuple = (('Tom', 104), ('John', 105))

info_5 = dict(my_tuple)
print(info_5)

{'Tom': 104, 'John': 105}

In [7]:
my_tuple[0]

('Tom', 104)

In [8]:
info_1 = {'Ron': 101, 'Jack': 102, 'Rick': 103}

info_1['Jack']

102

In [9]:
info_1['Rick'] = 108
print(info_1)

{'Ron': 101, 'Jack': 102, 'Rick': 108}

In [10]:
info_1['Siri'] = 110
print(info_1)

{'Ron': 101, 'Jack': 102, 'Rick': 108, 'Siri': 110}

In [11]:
info_1.keys()

dict_keys(['Ron', 'Jack', 'Rick', 'Siri'])

In [12]:
info_1.values()

dict_values([101, 102, 108, 110])

In [13]:
info_1.items()

dict_items([('Ron', 101), ('Jack', 102), ('Rick', 108), ('Siri', 110)])

In [14]:
for i, j in info_1.items():
    print(i, j)

Ron 101
Jack 102
Rick 108
Siri 110

In [16]:
info_1 = {'Ron': 101, 'Jack': 102, 'Rick': 103}
info_2 = {'Tom': 104, 'Harry': 105, 'Rick': 105}

info_1_2 = {**info_1, **info_2}
print(info_1_2)

{'Ron': 101, 'Jack': 102, 'Rick': 105, 'Tom': 104, 'Harry': 105}

In [17]:
info_2_1 = {**info_2, **info_1}
print(info_2_1)

{'Tom': 104, 'Harry': 105, 'Rick': 103, 'Ron': 101, 'Jack': 102}

In [20]:
info_1.update(info_2)
print(info_1)

{'Ron': 101, 'Jack': 102, 'Rick': 105, 'Tom': 104, 'Harry': 105}

In [22]:
info_1 = {'Ron': 101, 'Jack': 102, 'Rick': 103}

len(info_1)

3

In [23]:
del info_1['Ron']

info_1

{'Jack': 102, 'Rick': 103}

In [24]:
del info_1

info_1

NameError: name 'info_1' is not defined

In [26]:
info_1 = {'Ron': 101, 'Jack': 102, 'Rick': 103}

info_1.clear()
info_1

{}

In [27]:
info_1 = {'Ron': 101, 'Jack': 102, 'Rick': 103}

info_1.pop('Ron')
info_1

{'Jack': 102, 'Rick': 103}

In [29]:
info_1 = {'Ron': 101, 'Jack': 102, 'Rick': 103}

'Jack' in info_1

True

In [30]:
'Harry' not in info_1

True

In [31]:
info_1 = {'Ron': 101, 'Jack': 102, 'Rick': 103}
info_2 = {'Ron': 101, 'Jack': 102, 'Rick': 103}

info_1 == info_2

True

In [32]:
info_1 != info_2

False

In [33]:
info_1 > info_2

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [34]:
info_1 = {'Ron': 101, 'Jack': 102, 'Rick': 103}

info = info_1.copy()
info

{'Ron': 101, 'Jack': 102, 'Rick': 103}

In [35]:
# shallow copy - changes recorded in original dict
msg = {'A': 'Sleep', 'B':'Eat', 'X':['Play', 'Study']}

inform = msg.copy()
print(inform)
print(msg)

{'A': 'Sleep', 'B': 'Eat', 'X': ['Play', 'Study']}
{'A': 'Sleep', 'B': 'Eat', 'X': ['Play', 'Study']}

In [36]:
inform['X'][1] = 'Cook'

print(inform)
print(msg)

{'A': 'Sleep', 'B': 'Eat', 'X': ['Play', 'Cook']}
{'A': 'Sleep', 'B': 'Eat', 'X': ['Play', 'Cook']}

In [37]:
# deep copy - changes aren't reflected in original dict
import copy

msg = {'A': 'Sleep', 'B':'Eat', 'X':['Play', 'Study']}

inform = copy.deepcopy(msg)
print(inform)
print(msg)

{'A': 'Sleep', 'B': 'Eat', 'X': ['Play', 'Study']}
{'A': 'Sleep', 'B': 'Eat', 'X': ['Play', 'Study']}

In [38]:
inform['X'][1] = 'Cook'

print(inform)
print(msg)

{'A': 'Sleep', 'B': 'Eat', 'X': ['Play', 'Cook']}
{'A': 'Sleep', 'B': 'Eat', 'X': ['Play', 'Study']}

In [40]:
square = {x: x ** 2 for x in range(0, 5)}
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

## 2. Python Sets

In [43]:
mySet = {0, 1, 2, 3}
print(mySet)

{0, 1, 2, 3}

In [44]:
mySet = {0, 0, 1, 1, 2, 2, 2} # automatically removes duplicates

print(mySet)

{0, 1, 2}

In [45]:
myList = ['Ram', 'Mohan', 'Abdul', 'John', 'Ram']

print(myList)

['Ram', 'Mohan', 'Abdul', 'John', 'Ram']

In [46]:
mySet = set(myList) # automatically removes duplicates and sorts

print(mySet)

{'Abdul', 'John', 'Mohan', 'Ram'}

In [47]:
myEmptySet = {} # cannot initialize an empty set - gets interpreted as dict

print(type(myEmptySet))

<class 'dict'>

In [48]:
myEmptySet = set()

print(type(myEmptySet))

<class 'set'>

In [49]:
set('Learning Journal')

{' ', 'J', 'L', 'a', 'e', 'g', 'i', 'l', 'n', 'o', 'r', 'u'}

In [50]:
set('Learning Journal'.lower())

{' ', 'a', 'e', 'g', 'i', 'j', 'l', 'n', 'o', 'r', 'u'}

In [51]:
set(['Literature', 'Science', 'Math'])

{'Literature', 'Math', 'Science'}

In [52]:
set(('Eat', 'Sleep', 'Repeat'))

{'Eat', 'Repeat', 'Sleep'}

In [53]:
set({1: 'East', 2: 'South', 3: 'North', 4: 'West'}) # only keys are kept

{1, 2, 3, 4}

In [55]:
mySet = {0, 1, 2, 3, 4, 5, 5, 5}

len(mySet)

6

In [56]:
mySet.add(6)
mySet

{0, 1, 2, 3, 4, 5, 6}

In [58]:
mySet.update([7, 8, 9])

mySet

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [59]:
mySet.remove(4)

mySet

{0, 1, 2, 3, 5, 6, 7, 8, 9}

In [60]:
set1 = {0, 1, 2}
set2 = {2, 3, 4, 5}

set1.union(set2)

{0, 1, 2, 3, 4, 5}

In [61]:
set1 | set2

{0, 1, 2, 3, 4, 5}

In [62]:
set1.intersection(set2)

{2}

In [63]:
set1 & set2

{2}

In [64]:
set1.difference(set2)

{0, 1}

In [65]:
set2.difference(set1)

{3, 4, 5}

In [67]:
set1 - set2

{0, 1}

In [68]:
set2 - set1

{3, 4, 5}

In [69]:
set1.symmetric_difference(set2)

{0, 1, 3, 4, 5}

In [70]:
set1 ^ set2

{0, 1, 3, 4, 5}

In [71]:
mySet

{0, 1, 2, 3, 5, 6, 7, 8, 9}

In [72]:
5 in mySet

True

In [73]:
4 in mySet

False

In [74]:
101 not in mySet

True

In [76]:
set1 = {0, 1}
set2 = {0, 1, 2, 3}

set1.issubset(set2)

True

In [77]:
set1 <= set2

True

In [79]:
set1.issuperset(set1)

True

In [81]:
set2 >= set1

True

In [82]:
myList = [1, 3, 5, 8]

myList[2]

5

In [85]:
mySet = {1, 3, 5, 8}

mySet{2} # sets do not have an index

SyntaxError: invalid syntax (2793088315.py, line 3)

In [87]:
# to access, you must loop
mySet = {1, 3, 5, 8}

for i in mySet:
    print(i)

8
1
3
5

In [88]:
myFrozenSet = frozenset((0, 2, 4))

print(myFrozenSet)

frozenset({0, 2, 4})

In [89]:
myFrozenSet.add(6)

AttributeError: 'frozenset' object has no attribute 'add'

## 3. Python Datetime Module
1. date
2. time
3. datetime
4. timedelta

**1. date**

In [91]:
from datetime import date

dob = date(1990, 8, 21) # Y, M, D - mandatory and realistic
print(dob)

1990-08-21

In [92]:
dob = date(1990, 2, 29)

ValueError: day is out of range for month

In [93]:
dob = date(1990, 13, 31)

ValueError: month must be in 1..12

In [94]:
date.today()

datetime.date(2025, 1, 8)

In [95]:
print(dob.day)
print(dob.month)
print(dob.year)

21
8
1990

In [96]:
dob.strftime('%A %d - %b %Y')

'Tuesday 21 - Aug 1990'

**2. time**

In [98]:
from datetime import time

meet = time(11, 33, 48, 900000) # hour, minute, second, microsecond
print(meet)

11:33:48.900000

In [99]:
meet = time(24, 33, 48, 900000)

ValueError: hour must be in 0..23

In [101]:
meet = time(23, 33, 48, 900000)
print(meet)

23:33:48.900000

In [102]:
print(meet.hour)
print(meet.minute)
print(meet.second)
print(meet.microsecond)

23
33
48
900000

**3. datetime**

In [103]:
from datetime import datetime

dob_time = datetime(1990, 8, 21, 11, 33, 48, 900000) # year, month, day, hour, minute, second, microsecond
print(dob_time)

1990-08-21 11:33:48.900000

In [105]:
print(dob_time.year)
print(dob_time.month)
print(dob_time.day)
print(dob_time.hour)
print(dob_time.minute)
print(dob_time.second)
print(dob_time.microsecond)

1990
8
21
11
33
48
900000

**4. timedelta**

In [106]:
from datetime import timedelta

duration = timedelta(days = 2, hours = 3, minutes = 45) # weeks, days, hours, minutes, seconds, microseconds, milliseconds
print(duration)

2 days, 3:45:00

In [114]:
my_dob = datetime(1991, 5, 17)
your_dob = datetime(1990, 8, 21)

my_dob - your_dob

datetime.timedelta(days=269)

In [108]:
duration = timedelta(days = 2)
my_dob + duration

datetime.datetime(1991, 5, 19, 0, 0)

In [115]:
duration = timedelta(hours = 1, seconds = 15)
my_dob - duration

datetime.datetime(1991, 5, 16, 22, 59, 45)

datetime + datetime = Not allowed

datetime - datetime = datetime

datetime + timedelta = datetime

datetime - timedelta = datetime

In [116]:
# does not make sense to do math on times
from datetime import time

my_time = time(8, 15, 10)
your_time = time(11, 33, 48)

my_time - your_time

TypeError: unsupported operand type(s) for -: 'datetime.time' and 'datetime.time'

In [117]:
# cannot do math on duration of time
from datetime import time, timedelta

my_time = time(10, 0)
duration = timedelta(hours = 1)

my_time - duration

TypeError: unsupported operand type(s) for -: 'datetime.time' and 'datetime.timedelta'

Not allowed:

time + timedelta

time - timedelta

time + time

time - time

Date BUT NO time --> date()

Date AND Time --> datetime()