# Coding Challange - 03

### Question 1:

We have two lists given below. I want you to print the first list in the original order and the second list in reverse order simultaneously.

list_1 = [12, 25, 31, 20, 18]
<br>list_2 = [11, 9, 43, 22, 55]

#### Expected Output:

12 55
<br>25 22
<br>31 43
<br>20 9
<br>18 11

In [2]:
list_1 = [12, 25, 31, 20, 18]
list_2 = [11, 9, 43, 22, 55]

for a, b in zip(list_1, list_2[::-1]):
    print(a, b)

12 55
25 22
31 43
20 9
18 11

### Question 2:

Print today's date in the format given below.

Day_name  Day_number  Month_name  Year

#### Expected Output:

Today's date is:  Tuesday 13 October 2020

In [3]:
from datetime import datetime

today = datetime.now()
formatted_date = today.strftime("%A %d %B %Y")
print("Today's date is: ", formatted_date)

Today's date is:  Sunday 12 January 2025

### Question 3:

We have a string which contains grocery items. Print these items in a comma-separated sequence after sorting them alphabetically.

grocery_items = ' Grated Cheese, Coffee Powder, Pickles\
 White Chocolate, Dark Chocolate, Eggs, Breads, Milk,\
 Sugar, Salt, Cat Food, Fries'

#### Expected Output:

Breads, Cat Food, Coffee Powder, Dark Chocolate, Eggs, Fries, Grated Cheese, Milk, Pickles White Chocolate, Salt, Sugar

In [4]:
grocery_items = ' Grated Cheese, Coffee Powder, Pickles\
White Chocolate, Dark Chocolate, Eggs, Breads, Milk,\
Sugar, Salt, Cat Food, Fries'

items_list = [item.strip() for item in grocery_items.split(",")]
sorted_items = sorted(items_list)
sorted_grocery_items = ", ".join(sorted_items)
print(sorted_grocery_items)

Breads, Cat Food, Coffee Powder, Dark Chocolate, Eggs, Fries, Grated Cheese, Milk, PicklesWhite Chocolate, Salt, Sugar

### Question 4:

Write a Python program to print the dates of yesterday, today, and tomorrow.

#### Expected Output:

Yesterday :  2020-10-12
<br>Today :  2020-10-13
<br>Tomorrow :  2020-10-14

In [6]:
from datetime import datetime, timedelta 

today = datetime.now().date()
yesterday = today - timedelta(days=1)
tomorrow = today + timedelta(days=1)

print(f"Yesterday: {yesterday}")
print(f"Today: {today}")
print(f"tomorrow: {tomorrow}")

Yesterday: 2025-01-11
Today: 2025-01-12
tomorrow: 2025-01-13

### Question 5:

We have a set that contains roll numbers of candidates who have applied for an event. Out of the applied candidates, few have submitted their application forms, and we have registered their details in a dictionary given below. Print the roll numbers of the candidates who have submitted their application forms and also the ones who are yet to submit it.

roll_numbers = {12, 7, 15, 23, 32, 30}
<br>student_details = {12:'Judy', 30:'Shane', 23:'Aaron'}

#### Expected Output:

Completed Applications:  {12, 30, 23}
<br>Pending Applications:  {32, 15, 7}

In [7]:
roll_numbers = {12, 7, 15, 23, 32, 30}
student_details = {12:'Judy', 30:'Shane', 23:'Aaron'}

completed_applications = set(student_details.keys())
pending_applications = roll_numbers - completed_applications
print(f"Completed Applications: {completed_applications}")
print(f"Pending Applications: {pending_applications}")

Completed Applications: {12, 30, 23}
Pending Applications: {32, 15, 7}

### Question 6:

We have the time in seconds given below. Convert this time into days, hours, minutes, and seconds.

time = 996452

#### Expected Output:

Days : Hours : Minutes : Seconds -> 11 : 12 : 47 : 32

In [8]:
time = 996452

days = time // (24 * 3600)
remaining_seconds = time % (24 * 3600)
hours = remaining_seconds // 3600
remaining_seconds %= 3600
minutes = remaining_seconds // 60
seconds = remaining_seconds % 60

print(f"Days : Hours : Minutes : Seconds -> {days} : {hours} : {minutes} : {seconds}")

Days : Hours : Minutes : Seconds -> 11 : 12 : 47 : 32

### Question 7:

We have a list of companies with their face values in the stock market. Now, I want to get the company's name along with its face value for the company, which has the maximum and the minimum face values. I also want you all to sort this list based on face values in increasing order. In this example, you have the flexibility to go ahead and google for some hints.

stock_market = {'AXIS BANK' : 7,
               <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;'BHARTI AIRTEL' : 5,
               <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;'COAL INDIA' : 10,
               <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;'ITC' : 1,
               <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;'TCS' : 3,
               <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;'L&T' : 2,
               <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;'RELIANCE' : 9,
               <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;'KOTAK BANK' : 8,
               <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;'AMERICAN EXPRESS' : 11}

#### Expected Output:

(1, 'ITC')
<br>(11, 'AMERICAN EXPRESS')
<br>[(1, 'ITC'), (2, 'L&T'), (3, 'TCS'), (5, 'BHARTI AIRTEL'), (7, 'AXIS BANK'), (8, 'KOTAK BANK'), (9, 'RELIANCE'), (10, 'COAL INDIA'), (11, 'AMERICAN EXPRESS')]

In [9]:
# Given dictionary of stock market face values
stock_market = {
    'AXIS BANK': 7,
    'BHARTI AIRTEL': 5,
    'COAL INDIA': 10,
    'ITC': 1,
    'TCS': 3,
    'L&T': 2,
    'RELIANCE': 9,
    'KOTAK BANK': 8,
    'AMERICAN EXPRESS': 11
}

# Find the company with the maximum face value
max_face_value = max(stock_market.items(), key=lambda item: item[1])

# Find the company with the minimum face value
min_face_value = min(stock_market.items(), key=lambda item: item[1])

# Sort the stock market data by face value in increasing order
sorted_stock_market = sorted((value, name) for name, value in stock_market.items())

# Print the results
print(min_face_value[::-1])  # Reverse to match the desired format
print(max_face_value[::-1])  # Reverse to match the desired format
print(sorted_stock_market)

(1, 'ITC')
(11, 'AMERICAN EXPRESS')
[(1, 'ITC'), (2, 'L&T'), (3, 'TCS'), (5, 'BHARTI AIRTEL'), (7, 'AXIS BANK'), (8, 'KOTAK BANK'), (9, 'RELIANCE'), (10, 'COAL INDIA'), (11, 'AMERICAN EXPRESS')]

### Question 8:

Write a program to print all the numbers between 100 to 300 (both included) such that each digit of the given number is an even number.

#### Expected Output:

200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248, 260, 262, 264, 266, 268, 280, 282, 284, 286, 288

In [10]:
# Function to check if all digits of a number are even
def all_even_digits(number):
    return all(int(digit) % 2 == 0 for digit in str(number))

# Generate numbers between 100 and 300 (inclusive) with all even digits
even_digit_numbers = [num for num in range(100, 301) if all_even_digits(num)]

# Print the result as a comma-separated string
print(", ".join(map(str, even_digit_numbers)))

200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248, 260, 262, 264, 266, 268, 280, 282, 284, 286, 288

### Question 9:

We have a list of several names along with their age. Now, there is a meeting where seats are reserved for senior citizens (age - 45 above). I want to filter out the senior citizens from this list and get a resultant list where we the names of all those who satisfy the criteria.

passenger_list = {'Ross' : 35,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Thomas': 42,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Rick' : 55,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Ericson' : 51,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Josh' : 45,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Lara' : 50,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Emma' : 38,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Lily' : 46,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Ron' : 41,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Michael' : 47,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Joanna' : 56,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Arthur' : 42}

#### Expected Output:

{'Rick', 'Lily', 'Ericson', 'Joanna', 'Michael', 'Lara'}

In [11]:
# Given passenger list with names and ages
passenger_list = {
    'Ross': 35,
    'Thomas': 42,
    'Rick': 55,
    'Ericson': 51,
    'Josh': 45,
    'Lara': 50,
    'Emma': 38,
    'Lily': 46,
    'Ron': 41,
    'Michael': 47,
    'Joanna': 56,
    'Arthur': 42
}

# Filter senior citizens (age > 45)
senior_citizens = {name for name, age in passenger_list.items() if age > 45}

# Print the resulting set
print(senior_citizens)

{'Ericson', 'Rick', 'Lily', 'Joanna', 'Lara', 'Michael'}

### Question 10:

We have a list given below, which contains several numbers. I want to slice this list based on its indexes, into 3 equal sub-lists.

num_list = [31, 24, 2, 16, 19, 45, 75, 63, 79]

#### Expected Output:

Sub-List  1 [31, 24, 2]
<br>Sub-List  2 [16, 19, 45]
<br>Sub-List  3 [75, 63, 79]

In [12]:
# Given list of numbers
num_list = [31, 24, 2, 16, 19, 45, 75, 63, 79]

# Calculate the length of each sub-list
n = len(num_list) // 3

# Slice the list into three equal parts
sub_list_1 = num_list[:n]
sub_list_2 = num_list[n:2*n]
sub_list_3 = num_list[2*n:]

# Print the results
print("Sub-List 1", sub_list_1)
print("Sub-List 2", sub_list_2)
print("Sub-List 3", sub_list_3)

Sub-List 1 [31, 24, 2]
Sub-List 2 [16, 19, 45]
Sub-List 3 [75, 63, 79]